* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  vertical-align: top;
}

body {
  overflow: auto;
}

.wrap {
  width: 100%;
}

section {
  width: 100%;

  height: 100vh;
  position: relative;
}

.articleWrap {
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll; /* 세로 스크롤 추가 */
  background-image: url(../img/01_main_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.rending {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start; /* 스크롤 스냅 정렬 */
}

.imageWrap {
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;

  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory; /* 스크롤 스냅 설정 */
}

.aboutTextBox {
  position: fixed;
  width: 630px;
  height: 900px;

  left: 7%;
  z-index: -10;
}

.aboutTextBox > .pcText,
.aboutTextBox > .mobileText {
  position: absolute;
  font-weight: lighter;
  color: white;
  font-size: 0.9em;
  line-height: 1.8em;
  left: 10%;
  display: flex;
}

.aboutTextBox > .mobileText {
  display: none;
}

.aboutTextBox > .pcText4 > span,
.aboutTextBox > .mobileText4 > span {
  display: flex;
  flex-direction: column;
}

.aboutTextBox > .pcText4 > span:first-child,
.aboutTextBox > .mobileText4 > span:first-child {
  font-weight: bold;
}

.aboutTextBox > .pcText4 > span:last-child,
.aboutTextBox > .mobileText4 > span:last-child {
  margin-left: 5em;
}

.aboutTextBox > h1 {
  position: absolute;
  font-size: 2.5em;
  font-weight: 400;
  color: white;
  left: 10%;
}

.aboutTextBox > h1:first-child {
  top: 25%;
}

.aboutTextBox > h1:nth-child(4) {
  top: 55%;
}

.pcText1 {
  top: 31%;
}

.pcText2 {
  top: 43%;
}

.pcText3 {
  top: 61%;
}

.pcText4 {
  top: 77%;
  font-weight: 400;
}

.textBox {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.textBoxSideBox {
  color: white;
  writing-mode: vertical-rl; /* 세로로 텍스트 표시 */

  white-space: nowrap; /* 줄 바꿈 방지 */
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 1%;
  transform: translateY(-50%) rotate(180deg);
  letter-spacing: 1px;
}

.btnBox {
  width: 100px;
  height: 80px;
  display: flex;

  bottom: 55px;
  right: 2.2%;
  align-items: center;
  position: fixed;
  z-index: 20;
}

.kakaoBtn,
.instaBtn {
  width: fit-content;
  position: absolute;
  top: 2px;

  border-radius: 30px;
  overflow: hidden;
  z-index: 20;
  border: 1px solid white;
}

/* #kakao-talk-channel-chat-button {
  z-index: 20;
  margin-right: 0.5em;
} */

.kakaoBtn {
  left: 27px;
}

.instaBtn {
  left: 0;
  top: 40px;
}

.btnBox a {
  display: flex;

  color: white;
  font-size: 0.8em;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  text-align: center;
}

.rendingTopBar {
  width: 100%;
  position: fixed;
  top: 30px;
  height: 50px;
  z-index: 20;
  display: flex;
}

.logoBox {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoBox > a {
  display: block;

  width: 50px;
  height: 50px;
}

.logoBox img {
  width: 100%;
  height: 100%;
}

.menuBar {
  width: 50%;
  height: 100%;

  flex-grow: 1;
  z-index: 20;
  display: flex;
}

.menuBar > ul {
  width: 100%;
  display: flex;
  height: 100%;

  align-items: center;
  justify-content: end;
}

.menuBar > ul:first-child {
  display: flex;
}

.menuBar > ul:last-child {
  display: none;
}

.menuBar > ul > li {
  padding: 2em;
  height: 100%;
}

.menuBar > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  font-size: 0.8em;
  color: white;
  height: 100%;

  letter-spacing: 1px;
}

.menuBar > ul > li > a > p {
  color: white;
}

.imgBox {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  scroll-snap-align: start; /* 스크롤 스냅 정렬 */
}

.imgBox > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.activeHover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
}

.imgBox:hover .activeHover {
  background-color: rgba(0, 0, 0, 0.308);
}

.imgBoxTextBox {
  position: absolute;
  top: 20%;
  left: 2em;
  display: flex;
  width: 100%;
}

.imgBoxTextBox p {
  color: white;
  width: 50%;
}

.imgBox img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  object-fit: cover;
}

.mobileMenuBar {
  width: 180px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.299);
  position: fixed;
  top: 0;
  right: -180px;
  z-index: 30;
  transition: all 0.3s;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

/* 모바일 메뉴바가 활성화 될 때의 스타일 */
.mobileMenuBar.active {
  right: 0; /* 메뉴바가 보이게 함 */
}

.mobileMenuBtnBox {
  position: relative;
  height: 50px;
  top: 30px;
}

.mobileMenuBtnBox > i {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 16px;
  color: white;
}

.mobileMenuBar > ul {
  width: 100%;
  height: 100%;
  z-index: 30;
  position: relative;
  top: 30px;
}

.mobileMenuBar > ul > li {
  padding: 1em 2em;
}

.mobileMenuBar > ul > li > a {
  color: white;
}

.mobileMenuCancleBtn {
  display: none;
  cursor: pointer;
}

footer {
  height: 300px; /* 원하는 높이로 설정 */
  background-color: #3333337c; /* 원하는 배경색으로 설정 */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(100%);
}

footer.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 모바일 */
@media (max-width: 767px) {
  /* 모바일 스타일 */

  .articleWrap {
    max-width: 767px;
    min-height: auto;
    overflow-x: hidden;
  }

  .rendingTopBar {
    display: flex;
    align-items: center;
    top: 60px;
  }

  .logoBox {
    width: 25px;

    height: 25px;
    margin-left: 10px;
    order: 1;
  }

  .logoBox a {
    width: 25px;
    height: 25px;
  }

  .menuBar {
    order: 2;
  }

  .menuBar > ul:first-child {
    display: none;
  }

  .menuBar > ul:last-child {
    display: flex;
  }

  .menuBar > ul:last-child > li {
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .menuBar > ul:last-child > li > i {
    color: white;
  }

  .menuBar > ul:last-child > li > i:last-child {
    display: block;
  }

  .mobile .textBox {
    margin-top: 3em;
    z-index: 20;
  }

  .textBox {
    max-width: 767px;
  }

  .textBoxSideBox {
    width: 100%;
    left: 2.3%;
  }

  .aboutTextBox {
    width: 360px;
    height: 450px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .moblieText {
    display: block;
  }

  .aboutTextBox > .pcText {
    display: none;
  }

  .aboutTextBox > .mobileText {
    display: block;
    line-height: 1.5em;
  }

  .aboutTextBox > .mobileText4 {
    display: flex;
  }

  .btnBox {
    flex-direction: column;
    align-items: start;

    bottom: 60px;
  }

  footer {
    height: 200px;
  }

  .aboutTextBox > h1:first-of-type {
    top: 0%;
  }

  .mobileText1 {
    top: 9%;
  }

  .mobileText2 {
    top: 36%;
  }

  .aboutTextBox > h1:last-of-type {
    top: 49%;
  }

  .mobileText3 {
    top: 58%;
  }

  .mobileText4 {
    top: 71%;
  }

  .imgBox:hover .activeHover {
    background-color: transparent; /* hover 효과 제거 */
  }

  .activeHover {
    display: none;
  }
}
